In [ ]:
"""Макаров.

Списки, кортежи и множества.
"""

## Списки, кортежи и множества

### Списки

Основы работы со списками

In [ ]:
# пустой список можно создать через [] или функцию list()
# импортируем класс стеммера и создаем объект
from nltk.stem import PorterStemmer

some_list_1: list[str] = []
some_list_2: list[str] = list()  # pylint: disable=R1734

print(some_list_1, some_list_2)

[] []

In [ ]:
# элементами списка могут, в частности, быть числа, строки,
# другие списки и словари
number_three: list[int | str | list[str] | dict[str, int]] = [
    3,
    "число три",
    ["число", "три"],
    {"число": 3},
]
number_three

[3, 'число три', ['число', 'три'], {'число': 3}]

In [ ]:
# длина списка рассчитывается через функцию len()
len(number_three)

4

Индекс и срез списка

In [1]:
# у списка есть положительный и отрицательный индексы
abc_list: list[str] = ["a", "b", "c", "d", "e"]

# воспользуемся ими для вывода первого и последнего элементов
print(abc_list[0], abc_list[-1])

a e

In [ ]:
# при работе с вложенным списком
salary_list: list[list[str | int]] = [
    ["Анна", 90000],
    ["Игорь", 85000],
    ["Алексей", 95000],
]

# мы вначале указываем индекс вложенного списка, а затем индекс элемента в нем
salary_list[1][0]

'Игорь'

In [ ]:
# индекс можно узнать с помощью метода .index()
abc_list.index("c")

2

In [ ]:
# метод .index() можно применить и ко вложенному списку
salary_list[0].index(90000)

1

In [ ]:
# создадим список с днями недели
days_list: list[str] = ["Пн", "Вт", "Ср", "Чт", "Пт", "Сб", "Вс"]

# и выведем со второго по пятый элемент включительно
days_list[1:5]

['Вт', 'Ср', 'Чт', 'Пт']

In [ ]:
# выведем каждый второй элемент в срезе с первого по пятый
days_list[:5:2]

['Пн', 'Ср', 'Пт']

In [ ]:
# проверим есть ли "Пн" в списке
"Пн" in days_list

True

In [ ]:
# если "Вт" есть в списке
if "Вт" in days_list:

    # выведем сообщение
    print("Такое слово есть")

Такое слово есть

Добавление, замена и удаление элементов списка

In [ ]:
# создадим список
weekdays: list[str] = ["Понедельник", "Вторник"]

In [ ]:
# добавим один элемент в конец списка с помощью метода .append()
weekdays.append("Четверг")
weekdays

['Понедельник', 'Вторник', 'Четверг']

In [ ]:
# добавим элемент в определенное место в списке
# через желаемый индекс этого элемента
weekdays.insert(2, "Среда")
weekdays

['Понедельник', 'Вторник', 'Среда', 'Четверг']

In [ ]:
# изменим четвертый элемент в списке
weekdays[3] = "Пятница"
weekdays

['Понедельник', 'Вторник', 'Среда', 'Пятница']

In [ ]:
# удалим элемент по его значению
weekdays.remove("Пятница")
weekdays

['Понедельник', 'Вторник', 'Среда']

In [ ]:
# удалим элемент по его индексу через ключевое слово del
del weekdays[2]
weekdays

['Понедельник', 'Вторник']

In [ ]:
# сделаем то же самое с помощью метода .pop()
# этот метод выводит удаляемый элемент
weekdays.pop(1)

'Вторник'

In [ ]:
# посмотрим, что осталось в нашем списке
weekdays

['Понедельник']

Сложение списков

In [ ]:
# соединить два списка можно с помощью метода .extend()
more_weekdays: list[str] = ["Вторник", "Среда", "Четверг", "Пятница"]

weekdays.extend(more_weekdays)
weekdays

['Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница']

In [ ]:
weekend: list[str] = ["Суббота", "Воскресенье"]

# или просто сложив два списка
print(weekdays + weekend)

['Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота', 'Воскресенье']

In [ ]:
# иногда бывает полезно "размножить" элементы списка
print(["Понедельник"] * 2)

['Понедельник', 'Понедельник']

In [ ]:
# такие "произведения" также можно складывать
print(["Понедельник"] * 2 + ["Вторник"] * 2)

['Понедельник', 'Понедельник', 'Вторник', 'Вторник']

Распаковка списков

In [ ]:
# дан список
# "_" добавлен для того, чтобы избежать дублирования кода
# и как следствие ошибок pylint
week: list[str] = [
    "Понедельник_",
    "Вторник_",
    "Среда_",
    "Четверг_",
    "Пятница_",
    "Суббота_",
    "Воскресенье_",
]

In [ ]:
# указав индекс элемента, его можно записать в переменную
monday = week[0]
monday

'Понедельник'

In [ ]:
# срез можно поместить в несколько переменных
monday, tuesday, wednesday = week[:3]

# важно, чтобы количество элементов среза было равно количеству переменных
monday, tuesday, wednesday

('Понедельник', 'Вторник', 'Среда')

In [ ]:
# можно выделить первый элемент, а остальные поместить
# в переменную со звездочкой
monday, *rest = week
monday

'Понедельник'

In [ ]:
# также можно поступить, например, с первым и последним элементом
monday, *days, sunday = week
monday, sunday

('Понедельник', 'Воскресенье')

In [ ]:
# посмотрим, какие элементы остались в переменной со звездочкой
days

['Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота']

Сортировка списков

In [ ]:
# возьмем список чисел
nums: list[int] = [25, 10, 30, 20, 5, 15]

In [ ]:
# и отсортируем с помощью функции sorted(), результат выводится сразу
sorted(nums)

[5, 10, 15, 20, 25, 30]

In [ ]:
# исходный список при этом не изменился
nums

[25, 10, 30, 20, 5, 15]

In [ ]:
# если поместить результат в переменную, изменения сохранятся
sorted_nums = sorted(nums)
sorted_nums

[5, 10, 15, 20, 25, 30]

In [ ]:
# метод .sort() сохраняет результат, но не выводит его сразу
# reverse = True задает сортировку по убыванию
nums.sort(reverse=True)

In [ ]:
# выведем результат
nums

[30, 25, 20, 15, 10, 5]

In [ ]:
# метод .reverse() задает обратный порядок, сохраняет, но не выводит результат
nums.reverse()

# его также нужно вывести отдельно
nums

[5, 10, 15, 20, 25, 30]

In [ ]:
# функция reversed() возвращает итератор
reversed(nums)

In [ ]:
# вывести результат можно с помощью функции list()
list(reversed(nums))

[30, 25, 20, 15, 10, 5]

In [ ]:
# результат при этом не сохраняется
nums

[5, 10, 15, 20, 25, 30]

Преобразование списка в строку

In [ ]:
# дан список из строковых элементов
str_list: list[str] = ["P", "y", "t", "h", "o", "n"]

In [ ]:
# с помощью метода .join() можно соединить все элементы
joined_str = "".join(str_list)
joined_str

'Python'

In [ ]:
# если в кавычках ничего не указывать, элементы просто соединятся,
# но можно указать любой другой элемент
joined_str_ = "_".join(str_list)
joined_str_

'P_y_t_h_o_n'

Арифметика в списках

In [ ]:
# дан список чисел
nums_: list[int] = [3, 2, 1, 4, 5, 12, 3, 3, 7, 9, 11, 15]

In [ ]:
# с помощью метода .count() мы можем посчитать частоту вхождения
# элемента в список
nums_.count(3)

3

In [ ]:
# кроме того мы можем найти минимальное и максимальное значения
# и сумму элементов
print(min(nums_), max(nums_), sum(nums_))

1 15 75

List comprehension

In [ ]:
# дан список имен
# оставим имена, начинающиеся с буквы "А"
names: list[str] = [
    "Артем",
    "Антон",
    "Александр",
    "Борис",
    "Виктор",
    "Геннадий",
]

In [ ]:
# вначале решим эту задачу с помощью цикла for

# создадим пустой список
a_names: list[str] = []

# пройдемся по исходному списку в цикле for
for name in names:

    # с помощью метода .startswith() проверим, начинается ли слово с "А"
    if name.startswith("А"):

        # если да, добавим в новый список
        a_names.append(name)

# выведем результат
a_names

['Артем', 'Антон', 'Александр']

In [ ]:
# эту же задачу можно решить через list comprehension
# по сути мы пишем: "что сделать, пока есть элемент в списке, при каком условии"
a_names = [name for name in names if name.startswith("А")]
a_names

['Артем', 'Антон', 'Александр']

In [ ]:
# переведем все буквы в строчные, условие здесь не нужно
lower_names = [name.lower() for name in names]
lower_names

['артем', 'антон', 'александр', 'борис', 'виктор', 'геннадий']

In [ ]:
# схема условия if-else немного отличается
# оставляем имя, если это не Виктор, если Виктор - заменяем на Вадим
replace_name = [name if name != "Виктор" else "Вадим" for name in names]
replace_name

['Артем', 'Антон', 'Александр', 'Борис', 'Вадим', 'Геннадий']

In [ ]:
# на занятии по обработке естественного языка с помощью list comprehension
# мы применили стеммер Портера к списку слов
lemmatized: list[str] = [
    "paris",
    "visited",
    "lot",
    "museum",
    "first",
    "went",
    "louvre",
    "largest",
    "art",
    "museum",
    "world",
    "always",
    "interested",
    "art",
    "spent",
    "many",
    "hour",
    "museum",
    "enormous",
    "week",
    "would",
    "enough",
]


porter = PorterStemmer()

# применяем стеммер к элементу s, пока есть элементы s в списке lemmatized
stemmed_p = [porter.stem(s) for s in lemmatized]
print(stemmed_p)

['pari', 'visit', 'lot', 'museum', 'first', 'went', 'louvr', 'largest', 'art', 'museum', 'world', 'alway', 'interest', 'art', 'spent', 'mani', 'hour', 'museum', 'enourm', 'week', 'would', 'enough']

### Кортежи

Основы работы с кортежами

In [ ]:
# пустой кортеж можно создать с помощью пустых круглых скобок ()
# или функции tuple()
tuple_1: tuple[()] = ()
tuple_2: tuple[str, ...] = tuple()
print(tuple_1, tuple_2)

() ()

In [ ]:
# в кортеже элементы упорядочены, а значит есть индекс
letters: tuple[str, ...] = ("a", "b", "c")
letters[0]

'a'

In [4]:
# но изменить элемент, как мы это делали в списке, нельзя
# letters[0] = "d" --> Error

In [ ]:
# для изменения элемента кортеж вначале нужно преобразовать в список
letters_list = list(letters)
letters_list[0] = "d"
letters_list

['d', 'b', 'c']

In [ ]:
# кортеж из одного элемента можно создать с помощью запятой
letters_a: tuple[str] = ("a",)
type(letters_a)

tuple

In [ ]:
# если запятую не указывать, получится строка
a_let = "a"
type(a_let)

str

Функция enumerate()

In [ ]:
companies: list[str] = ["Microsoft", "Apple", "Tesla"]

# если записать результат функции enumerate() в одну переменную,
for company in enumerate(companies):

    # то мы получим кортежи
    print(company, type(company))

(0, 'Microsoft') <class 'tuple'>
(1, 'Apple') <class 'tuple'>
(2, 'Tesla') <class 'tuple'>

Просмотр элементов словаря

In [ ]:
shopping_dict: dict[str, int] = {
    "огурцы": 2,
    "помидоры": 3,
    "лук": 1,
    "картофель": 2,
}

In [ ]:
# то же самое со словарем и методом .items()
for item in shopping_dict.items():
    print(item)

('огурцы', 2)
('помидоры', 3)
('лук', 1)
('картофель', 2)

Распаковка кортежей

In [ ]:
# как и список, кортеж можно распаковать в несколько переменных
a_let, b_let, c_let = ("a", "b", "c")
print(a_let)

a

In [ ]:
companies = ["Microsoft", "Apple", "Tesla"]

# распаковку в две переменные с функцией enumerate() мы делать уже умеем
for index, company_name in enumerate(companies):
    print(index, company_name)

0 Microsoft
1 Apple
2 Tesla

In [ ]:
shopping_dict = {
    "огурцы": 2,
    "помидоры": 3,
    "лук": 1,
    "картофель": 2,
}

# то же самое с ключами и значениями словаря
for key, value in shopping_dict.items():
    print(key, value)

огурцы 2
помидоры 3
лук 1
картофель 2

Функция zip()

In [ ]:
# если есть два и более списка
names = [
    "Артем",
    "Антон",
    "Александр",
    "Борис",
    "Виктор",
    "Геннадий",
]
income: list[int] = [97000, 110000, 95000, 84000, 140000, 120000]

# функция zip() соединит первые элементы списков,
# вторые элементы списков и т.д.
zip(names, income)

In [ ]:
# для вывода результата нужно передать zip-объект в функцию list()
# на выходе мы получим список из кортежей
print(list(zip(names, income)))

[('Артем', 97000),
 ('Антон', 110000),
 ('Александр', 95000),
 ('Борис', 84000),
 ('Виктор', 140000),
 ('Геннадий', 120000)]

### Множества

Создание множества

In [ ]:
# пустое множество задается через функцию set()
set_1: set[str] = set()

# непустое множество задается через функцию set() и итератор
# например, список элементов или строку
set_2: set[str] = set("abcde")  # pylint: disable=W0130

# или путем перечисления элементов в фигурных скобках {}
set_3: set[str] = {"a", "b", "c", "c"}  # pylint: disable=W0130

# множество содержит только уникальные элементы, поэтому дубликаты удаляются
print(set_1, set_2, set_3)

set() {'a', 'e', 'c', 'b', 'd'} {'a', 'b', 'c'}

In [ ]:
# создать множество через пустые фигурные скобки нельзя
not_a_set: dict[str, str] = {}

# так создается словарь
type(not_a_set)

dict

Добавление и удаление элементов

In [ ]:
# предположим, что мы хотим создать множество гласных букв в русском языке
vowels: set[str] = {"а", "о", "э", "е", "у", "ё", "ю"}

In [ ]:
# добавим одну букву "я" методом .add()
vowels.add("я")
vowels

{'а', 'е', 'о', 'у', 'э', 'ю', 'я', 'ё'}

In [ ]:
# добавим две буквы "и" и "ы" методом .update()
vowels.update(["и", "ы"])
vowels

{'а', 'е', 'и', 'о', 'у', 'ы', 'э', 'ю', 'я', 'ё'}

In [ ]:
# если по ошибке мы добавим согласную букву,
vowels.add("щ")
vowels

{'а', 'е', 'и', 'о', 'у', 'щ', 'ы', 'э', 'ю', 'я', 'ё'}

In [ ]:
# ее можно удалить методом .remove()
vowels.remove("щ")
vowels

{'а', 'е', 'и', 'о', 'у', 'ы', 'э', 'ю', 'я', 'ё'}

Теория множеств в Питоне

In [ ]:
# два множества равны, если содержат одинаковые элементы,
# при этом порядок элементов не важен
print({"a", "b", "c"} == {"c", "b", "a"})

True

In [ ]:
# выведем мощность множества с помощью функции len()
print(len({"a", "b", "c"}))

3

In [ ]:
# проверим, содержится ли элемент во множестве
print("a" in {"a", "b", "c"})

True

In [ ]:
# возможна и обратная операция
print("a" not in {"a", "b", "c"})

False

In [ ]:
# проверим является ли А подмножеством В
set_a: set[str] = {"a", "b", "c"}
set_b: set[str] = {"a", "b", "c", "d", "e", "f"}

set_a.issubset(set_b)

True

In [ ]:
# проверим является ли B надмножеством А
set_b.issuperset(set_a)

True

In [ ]:
# даны участники команд по обработке естественного языка (nlp)
# и компьютерному зрению (cv)
nlp: set[str] = {"Анна", "Николай", "Павел", "Оксана"}
cv: set[str] = {"Николай", "Евгений", "Ольга", "Оксана"}

In [ ]:
# найдем тех, кто работает или в nlp, или в cv, или в обеих командах

# можно использовать метод .union()
print(nlp.union(cv))

# или символ |
print(nlp | cv)

{'Павел', 'Евгений', 'Оксана', 'Николай', 'Анна', 'Ольга'}
{'Павел', 'Евгений', 'Оксана', 'Николай', 'Анна', 'Ольга'}

In [ ]:
# найдем пересечение множеств, то есть тех, кто работает и в nlp, и в cv
print(nlp.intersection(cv))
print(nlp & cv)

{'Оксана', 'Николай'}
{'Оксана', 'Николай'}

In [ ]:
# выведем тех, кто работает только в nlp, но не в cv или cv и nlp одновременно
print(nlp.difference(cv))
print(nlp - cv)

{'Анна', 'Павел'}
{'Анна', 'Павел'}

In [ ]:
# выведем тех, кто работает только в cv,
# но не в nlp или nlp и cv одновременно
print(cv.difference(nlp))
print(cv - nlp)

{'Евгений', 'Ольга'}
{'Евгений', 'Ольга'}

In [ ]:
# найдем тех, кто работает или в cv, или в nlp,
# но не в обеих областях одновременно
print(nlp.symmetric_difference(cv))
print(nlp ^ cv)

{'Павел', 'Евгений', 'Анна', 'Ольга'}
{'Павел', 'Евгений', 'Анна', 'Ольга'}