In [ ]:
"""Макаров. Типы данных в Питоне."""

## Типы данных в Питоне

### Работа с числами

In [ ]:
a_1 = 25  # целое число (int)
b_1 = 2.5  # число с плавающей точкой (float)
c_1 = 3 + 25j  # комплексное число (complex)

In [ ]:
# экспоненциальная запись, 2 умножить на 10 в степени 3
d_1 = 2e3
print(d_1)  # 2000.0
print(type(d_1))  # <class 'float'>

2000.0
<class 'float'>

Арифметические операции

In [ ]:
# сложение, вычитание, умножение, деление, возведение в степень
print(2 + 2, 4 - 2, 2 * 2, 4 / 2, 2**3)

4 2 4 2.0 8

In [ ]:
# новая для нас операция: разделим 7 на 2, и найдем целую часть и остаток

# целая часть
print(7 // 2)

# остаток от деления
print(7 % 2)

3
1

Операторы сравнения

In [ ]:
# больше, меньше, больше или равно и меньше или равно
# print(4 > 2, 4 < 2, 4 >= 2, 4 <= 2)

True False True False

In [ ]:
# равенство
# print(2 == 4)

# # и новый для нас оператор неравенства
# print(2 != 4)

False
True

Логические операции

In [ ]:
# логическое И, обе операции должны быть истинны
# print(4 > 2 and 2 != 3)

# # логическое ИЛИ, хотя бы одна из операций должна быть истинна
# print(4 < 2 or 2 == 2)

# # логическое НЕ, перевод истинного значения в ложное и наоборот
# print(not 4 == 4)

True
True
False

Перевод чисел в другую систему счисления

In [ ]:
# создадим число в десятичной системе
d_2 = 25

# переведем в двоичную (binary)
bin_d = bin(d_2)
print(bin_d)

# переведем обратно в десятичную
print(int(bin_d, 2))

0b11001
25

In [ ]:
# создадим число в десятичной системе
d_3 = 25

# переведем в восьмеричную (octal)
oct_d = oct(d_3)
print(oct_d)

# переведем обратно в десятичную
print(int(oct_d, 8))

0o31
25

In [ ]:
# создадим число в десятичной системе
d_4 = 25

# переведем в шестандцатеричную (hexadecimal)
hex_d = hex(d_4)
print(hex_d)

# переведем обратно в десятичную
print(int(hex_d, 16))

0x19
25

### Строковые данные

In [ ]:
string_1 = "это строка"
string_2 = "это тоже строка"

In [ ]:
multi_string = """Мы все учились понемногу
Чему-нибудь и как-нибудь,
Так воспитаньем, слава богу,
У нас немудрено блеснуть."""

Длина строки

In [ ]:
# воспользуемся функцией len()
len(multi_string)

105

Объединение строк

In [ ]:
# создадим три строки
a_5, b_5, c_5 = "Программирование", "на", "Питоне"

# соединим с помощью + и добавим пробелы ' '
a_5 + " " + b_5 + " " + c_5

'Программирование на Питоне'

Индекс символа в строке

In [ ]:
# выведем первый элемент строки multi_string
print(multi_string[0])

# теперь выведем последний элемент
print(multi_string[-1])

М
.

Срезы строк

In [ ]:
# выберем элементы с четвертого по шестой
print(multi_string[3:6])

все

In [ ]:
# выведем все элементы вплоть до второго
print(multi_string[:2])

# а также все элементы, начиная с четвертого
print(multi_string[3:])

Мы
все учились понемногу
Чему-нибудь и как-нибудь,
Так воспитаньем, слава богу,
У нас немудрено блеснуть.

Циклы в строках

In [ ]:
# выведем буквы в слове Питон
for char in "Питон":
    print(char)

П
и
т
о
н

Методы .strip() и .split()

In [ ]:
# применим метод .strip(), чтобы удалить *
print("***15 849 302*****".strip("*"))

# если ничего не указать в качестве аргумента, то удаляются пробелы по краям строки
print(" 15 849 302 ".strip())

15 849 302
15 849 302

In [ ]:
# применим метод .split(), чтобы разделить строку на части
print(multi_string.split())

['Мы', 'все', 'учились', 'понемногу', 'Чему-нибудь', 'и', 'как-нибудь,', 'Так', 'воспитаньем,', 'слава', 'богу,', 'У', 'нас', 'немудрено', 'блеснуть.']

In [ ]:
# посчитаем количество слов в тексте (длину списка)
len(multi_string.split())

15

Замена символа в строке

In [ ]:
# предположим данные содержатся вот в таком формате
data = "20,25"

# теперь заменим ',' на '.'
data = data.replace(",", ".")

# и преобразуем в число
data_str = float(data)
print(data_str)
print(type(data_str))

20.25
<class 'float'>

### Логические значения

In [ ]:
# создадим переменную и запишем в нее логическое значение True
# (обязательно с большой буквы)
my_var = False
type(my_var)

bool

In [ ]:
# напишем небольшую программу, которая будет показывать,
# какое значение содержится в переменной var

if my_var is True:
    print("Значение переменной истинно")
else:
    print("Значение переменной ложно")

Значение переменной ложно