In [ ]:
"""Макаров. Переменные в Питоне."""

## Переменные в Питоне

### Создание (объявление) переменных

In [3]:
# можно создать переменную, присвоив ей числовое значение
num: int = 15
print(num)

15

In [4]:
# кроме того, переменной можно задать строковое (текстовое) значение
text: str = "Я программирую на Питоне"
print(str)

<class 'str'>

In [5]:
# в Питоне можно присвоить разные значения сразу нескольким переменным
var_a, var_b, var_c = "Питон", "C++", "PHP"
print(var_a, var_b, var_c)

Питон C++ PHP

In [ ]:
# а также присвоить одно и то же значение нескольким переменным
x_var = y_var = z_var = "То же самое значение"
print(x_var, y_var, z_var)

То же самое значение То же самое значение То же самое значение

In [6]:
# каждый элемент списка можно "распаковать" в переменные
my_list: list[str] = ["помидоры", "огурцы", "картофель"]
a_var, b_var, c_var = my_list
print(a_var, b_var, c_var)

помидоры огурцы картофель

### Автоматическое определение типа данных

In [ ]:
x_int = 256  # в этом случае переменной x присваивается тип int (целочисленное значение)
y_float = 0.25  # y становится float (десятичной дробью)
z_str = "Просто текст"  # z становится str (строкой)

### Как узнать тип переменной в Питоне

In [ ]:
# узнаем тип переменных из предыдущего примера
print(type(x_int), type(y_float), type(z_str))

<class 'int'> <class 'float'> <class 'str'>

### Присвоение и преобразование типа данных

Присвоение типа данных

In [7]:
x_example_1 = str(25)  # число 25 превратится в строку
y_example_2 = int(25)  # число 25 останется целочисленным значением
z_example_3 = float(25)  # число 25 превратится в десятичную дробь

In [8]:
print(type(x_example_1), type(y_example_2), type(z_example_3))

<class 'str'> <class 'int'> <class 'float'>

Изменение типа данных

In [ ]:
# преобразуем строку, похожую на целое число, в целое число
print(type(int("25")))

<class 'int'>

In [ ]:
# или строку, похожую на дробь, в настоящую десятичную дробь
print(type(float("2.5")))

<class 'float'>

In [9]:
# преобразуем дробь в целочисленное значение
# обратите внимание, что округления в большую сторону не происходит
print(int(36.6))
print(type(int(36.6)))

36
<class 'int'>

In [ ]:
# конечно, и целое число, и дробь можно преобразовать в строку
print(type(str(25)))
print(type(str(36.6)))

<class 'str'>
<class 'str'>

### Именование переменных

Допустимые имена переменных

In [ ]:
value = "Просто переменная"
_variable = "Просто переменная"
variable_ = "Просто переменная"
my_variable = "Просто переменная"
My_variable_123 = "Просто переменная"

Имя переменной состоит из нескольких слов

In [ ]:
# можно применить так называемый верблюжий регистр, camelCase
# все слова кроме первого начинаются с заглавной буквы и пишутся слитно
camelCaseVariable = "Верблюжий регистр"  # noqa: N816

# нотацию Паскаль, PascalCase (то же самое, только теперь все слова пишутся с заглавной)
PascalCaseVariable = "Нотация Паскаль"

# змеиный стиль, snake_case (с нижними подчеркиваниями)
snake_case_variable = "Змеиная нотация"

Недопустимые названия переменной

In [ ]:
# my-variable = 'Так делать нельзя'
# 123variable = 'Так делать нельзя'
# my variable = 'Так делать нельзя'

SyntaxError: invalid decimal literal (<ipython-input-16-9f05446ea281>, line 2)

### Ответы на вопросы

**Вопрос**. Как можно преобразовать список чисел таким образом, чтобы каждый элемент списка превратился в отдельную строку?

In [ ]:
# возьмем простой список
list_ = [1, 2, 3]

In [ ]:
# использовать только функцию str() нельзя
str(list_)

'[1, 2, 3]'

In [ ]:
# вариант 1: объявить новый список и в цикле for помещать туда строковые значения
list_str = []

for num in list_:
    list_str.append(str(num))

list_str

['1', '2', '3']

In [ ]:
# вариант 2: использовать list comprehension
str_list = [str(num) for num in list_]

['1', '2', '3']

In [ ]:
# вариант 3: функции map() и list()
list(map(str, list_))

['1', '2', '3']